a {
    color: black;
}

.home__item-view {
    width: 85%;
    padding: 10px;
}

.home__items-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.home__item {
    margin: 20px;
}