.app {
  display: flex;
}

.app__sidebar {
  border-right: 1px solid #bbbbbb;
  min-height: calc(100vh - 15px);
}

.app__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 15px 0px;
}

.options__item--new, .options__item {
  padding: 10px 0;
  width: 100%;
  border: unset;
  background-color: white;
}

.options__item--active {
  background-color: #abdbe6;
}

button.options__item {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #989898;
}

button.options__item:hover {
  background: #abdbe6;
}

button.options__item svg {
  width: 10%;
  padding: 0 7px;
  color: #4bae9b;
}

.app__options {
  display: flex;
  width: 215px;
  flex-direction: column;
  align-items: center;
}

.app__options a {
  text-decoration: unset;
  text-align: center;
  margin: 0px 0;
  width: 100%;
  border-bottom: 1px solid #989898;
}

.errorContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorContainer svg {
  width: 40vw;
}

.errorMessage {
  font-size: 24px;
  padding: 10px 0;
}