.app {
  display: flex;
}

.app__sidebar {
  border-right: 1px solid #bbbbbb;
  width: 15%;
  padding: 15px 10px 0px 10px;
  min-height: calc(100vh - 15px);
}

.app__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.options__item--new, .options__item {
  padding: 10px 0;
  width: 100%;
  border: unset;
  background-color: white;
}

.options__item--active {
  background-color: #abdbe6;
}

button.options__item {
  font-size: 16px;
  border: 1px solid #ababab;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px;
}

button.options__item svg {
  width: 10%;
  padding: 0 7px;
  color: #4bae9b;
}

.app__options {
  display: flex;
  flex-direction: column;
}

.app__options a {
  text-decoration: unset;
  text-align: center;
  margin: 10px 0;
}