.app {
  display: flex;
}

.app__sidebar {
  border-right: 1px solid #bbbbbb;
  width: 15%;
  padding-top: 15px;
  min-height: calc(100vh - 15px);
}

.app__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.options__item--new, .options__item {
  padding: 10px 0;
  width: 100%;
  border: unset;
  background-color: white;
}

.options__item--new {
  background-color: #abdbe6;
}