.item-card__container {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 215px;
    border: 1px solid #919191;
    box-shadow: 0 0 5px #919191;
    border-radius: 10px;
}

.item-card__image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #abdbe6;
}

.item-card__info {
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.dots-container {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}

.item-dots {
    display: flex;
}

/* 100% */